.box1 {
    border: solid 3px salmon;
    background-color: bisque;
}

.boxA {
    border: solid 3px blue;
}

.boxA:after {
    content: "";
    display: block;
    clear: both;
}

.box2 {
    border: solid 3px green;
    
    float: left;
    width: 100%;
    margin-right: -312px;
    padding-right: 312px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: : border-box;
    box-sizing: border-box;    
    /* border-box : 여백이 width 속성으로 지정한 너비에 포함되어 처리*/
}

.box3 {
    border: solid 3px yellowgreen;
    
    float: left;
    width: 300px;
}

.box4 {
    border: solid 3px red;
}




