.boxA {
    border: solid 3px blue;
}

.boxA:after {
    content: "";
    display: block;
    clear: both;
}

.box1 {
    border: solid 1px salmon;

    float: left;
    width: 24%;
}

.box2 {
    border: solid 1px green;
    
    float: left;
    width: 24%;
}

.box3 {
    border: solid 1px yellowgreen;
    
    float: left;
    width: 24%;
}

.box4 {
    border: solid 1px red;

    float: left;
    width: 24%;
}