.boxA {
    color: #154432;
    background-color: rgb(131, 209, 170);
    border: solid 3px green;
}

.boxA:after {
    content: "";
    display: block;
    clear: both;
}

.box1 {
    border: solid 2px #be00e9;
    background-color: #fbb3fe;
    color: #e90b58;

    float: left;
    width: 45%;
}

.box2 {
    border: solid 2px #e99f02;
    background-color: #fee89b;
    color: #ff6817;

    float: left;
    width: 45%; }