/* clearfix */

/* .boxA {
    border: solid 5px #00a0e9;
    background-color: #a0e0fe;
    color: #00a0e9;
} */

.boxA:after {
    content: "";
    display: block;    /* box4가 box2,3를 무시하는 것을 막기 위해
                        * :after의 clear 속석을 both로 지정
                        * 글자가 오른쪽에 붙지 않고 플로팅박스 아래에
                        * 출력*/
    clear: both;
}

.box1 {
    border: solid 2px #be00e9;
    background-color: #fbb3fe;
    color: #e90b58;
}


.box2 {
    border: solid 2px #e95c5a;
    background-color: #fee2e0;
    color: #e93d69;
    width: 50px;
    height: 50px;

    float: left;     /* floating box가 됨. 다른 박스는 floating box의 존재를 인식 못함 */
}

.box3 {
    border: solid 2px #2be993;
    background-color: #c4fecf;
    color: #3fe900;
    width: 50px;
    height: 50px;

    float: left;      /* floating box가 됨. 다른 박스는 floating box의 존재를 인식 못함 */
}

.box4 {
    border: solid 2px #e99f02;
    background-color: #fee89b;
    color: #ff6817;
}
