
.box1{
    border: solid 3px coral;
    background-color: rgb(233, 187, 170);
    width:100%;
    height: 100px;
}

.boxA{
    
}


@media (min-width: 768px) {
.boxA:after {
    content: "";
    display: block;
    clear: both;
}

.boxB {
    border: solid 3px green;
    float: left;
    width: 80%;
}

.boxB:after {
    content: "";
    display: block;
    clear: both;
}

.box2{
    float: right;
    width: 75%;
    height: 500px;
}


.box3{   
    float: right;
    width: 24%;
    height: 500px;
}

}

.box2 {
    border: solid 2px blue;
    background-color: rgb(187, 187, 248);    
}

.box3 {
    border: solid 2px red;
    background-color: rgb(236, 133, 133);
 
}

.box4{
    border: solid 2px green;
    background-color: rgb(215, 238, 182);
    
    height: 500px;
    float: left;
    width: 18%;

}
